.zagolovok {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.log {
  width: 10%;
}

.baton button {
  height: 40px;
  border-radius: 4px;
  background: orange;
  color: white;
  font-size: 18px;
  border: 1px solid #F7941E;
}

.zagolovok ul {
  font-size: 17px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
.text {
  width: 30%;
}
.container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.a {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
 }
.a h1 {
  font-size: 40px;
}
.a p {
  font-size: 30px;
}
.b {
  display: flex;
  display: block;
  width: 100%;
  justify-content: space-between;
}
.b img {
  width: 100%;
  height: 100%;
}
button {
  height: 40px;
  border-radius: 4px;
  background: orange;
  color: white;
  font-size: 18px;
  border: white;
}
.container2 {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.a1 {
  width: 50%;
  display: flex;
}

.a1 img {
    width: 100%;
    height: auto;
}
.a2 h1 {
  font-size: 36px;
}
.a2 p {
  font-size: 20px;
}
.a2 {
  display: flex;
  justify-content: center;
  
  width: 50%;
  font-size: 30px;
}
.a_a {
  width: 50%;
  align-items: center;
 
}
.a2_1 {
    width: 50%;
    align-items: center;   
}
.a2_1 button  {
  background: white;
  color: orange;
  font-size: 20px;
  border: orange;
}
.container-3 {
  max-width: 100%;
    width: 100%;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    
}
.text {
    display: flex;
    justify-content: center; 
      
}
.text2 {
    text-align: center;
}
.v:hover {
  margin-bottom: 30%;
  filter: drop-shadow(-12px 10px 15px rgba(0, 0, 0, 0.29));
}

.v1 {
  width: 25%;
  display: flex;
  justify-content: center;
}
.v2 {
  width: 25%;
  display: flex;
  justify-content: center;
  
}
.v3 {
  width: 25%;
  display: flex;
  justify-content: center;
}
.v img {
  width: 100%;
  height: auto;
  
}
.v1 img {
  width: 100%;
  height: auto;
}
.v2 img {
  width: 100%;
  height: auto;
}
.v3 img {
  width: 100%;
  height: auto;
}
.container-4 {
  max-width: 100%;
  width: 100%;
  display: flex;
  height: 100px;
  padding: 5px 90px;
}
.container-4 p {
  max-width: 100%;
  font-size: 20px;
}

.v1 {
  width: 25%;
  display: flex;
}

.v1:hover {
  width: 25%;
  display: flex;
  filter: drop-shadow(-12px 10px 15px rgba(0, 0, 0, 0.29));
}

.container-5 {
max-width: 100%;
margin-top: 20%;
background-color: orange;
padding-top: 3%;
padding-bottom: 3%;
width: 100%;
display: flex;

}
.text4 {
  width: 30%;
  height: 60%;
  justify-content: center; 
}
.text5 {
  font-size: 20px;
}
.text6 {
  font-size: 500px;  
}
.baton2baton3 {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
 .baton2 button {
  display: flex;
  justify-content: center;
  background-color: none;
  color: #000;
  font-size: 18px;
  border: #000 1px solid; 
  text-align: center;
  padding: 10px 18px;
 }
 .baton2 button:hover{
   background-color: #000;
   color: #fff;
 }
.container-6 {
 margin-top: 2%;
 margin-bottom: 2%;
 max-width: 100%;
 text-align: center;
}
.text7 {
  font-size: 30px;
  
}
.text8 {
  font-size: 17px;
  
}
.text9 img{
  width: 100%;
  height: auto; 
}
.text10 {
  color: white;
  padding-left: 20px;
}
.text10_1{
  font-size: 20px;
}
.text10_2{
  font-size: 30px;
}
.text10_3 {
  font-size: 15px;
}

.container-7 {
  max-width: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.text10_4:hover {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.text10_4{
  
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.text10_4_1{
  width: 40%;
  text-align: center;
 
}
.text10_4_2{
  font-size: 20px;
  text-align: center;
}
.text10_4_3 {
  font-size: 24px;
  text-align: center;
}
.text10_4_4 {
  width: 100%;
  text-align: center;
  
}
.text10_4_5 {
  font-size: 24px;
  text-align: center;
}
.text10_4_6{
  font-size: 24px;
  text-align: center;
}
.container-7_1{
  max-width: 100%;

}
.text11 {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  justify-content: space-around;
  
}
.container-9{
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1%;
}
.text12 {
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 450px) {
.zagolovok {
  flex-direction: column;
  display: block;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  }
  * {
    box-sizing: border-box;
    text-align: center;
}
.zagolovok ul {
  width: 90%;
}
.text {
  width: 70%;
}
  }
  .baton button {
    background: white;
    color: orange;
    font-size: 15px;
    border: black 1px solid;
    border-radius: 2px;
    margin-bottom: 5px;
    width: 40%;
    
  }
  .container {
    flex-direction: column;
    display: block;
    width: 100%;
    justify-content: space-between;
  }
  .container-3 {
    flex-direction: column;
    display: block;
    width: 100%;
    justify-content: space-between;
  }
  .a h1 {
    font-size: 20px;
    text-align: center;
  }
  .a p {
    font-size: 15px;
    text-align: center;
  }
  .a_a {
    width: 100%;
  }
 
  button {
  background: white;
  color: orange;
  font-size: 15px;
  border: black 1px solid;
  border-radius: 2px;
  margin-bottom: 5px;
  
}
  .log {
   
   justify-content: center;
  }
.container2 {
  flex-direction: column;
  display: block;
  width: 100%;
  justify-content: space-between;
}
.a1 {
  width: 100%;
}
.a2 {
  width: 100%;
}
.a2_1 h1 {
  font-size: 20px;
}
.a2 p {
  font-size: 18px;
}
.a2 button{
  background: white;
  color: orange;
  font-size: 15px;
  border: black 1px solid;
  border-radius: 2px;
  margin-bottom: 5px
}

.container-3 {
  flex-direction: column;
  display: block;
  width: 100%;
  justify-content: space-between;
  height: 10%;
}
.v img {
  width: 70%;
  height: 50%;
  
}
.v1 img {
  width: 70%;
  height: 50%;
}
.v2 img {
  width: 70%;
  height: 50%;
}
.v3 img {
  width: 70%;
  height: 50%;
}
.container-5 {
  
  flex-direction: column;
  display: block;
  width: 100%;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.text4 {
  width: 100%;
}
.text5 h2 {
  text-align: center;
  font-size: 20px;
}
.baton2 {
margin: 5px;
}

.container-6 {
  flex-direction: column;
  display: block;
  width: 100%;
  justify-content: space-between
}
.container-7 {
  flex-direction: column;
  display: block;
  width: 100%;
  justify-content: space-between
}
.container-7_1{
  flex-direction: column;
  
  width: 100%;
  justify-content: space-between
  heigth: 500px
}
.container-7_1 h1 {
  font-size: 10px;
}
.text10_4_1 {
  width: 100%;
}
.text10_4_2 {
  font-size: 15px;
  cc
  text-align: center
}
.text10_4_3 {
  font-size: 15px;
  width: 100%;
  text-align: center
}
.text10_4_4 p {
  font-size: 15px;
  width: 100%;
  text-align: center;
}
.container-8 {
  flex-direction: column;
  display: block;
  width: 100%;
  justify-content: space-between
}
