.zagolovok {
  padding: 15px 30px;
  border: 1px double black;
  justify-content: space-between;
  align-items: center;
  display: flex;
  
}
.log {
height: 39px;
width: 41px;
left: 80px;
top: 39px;
border-radius: nullpx;

}
.text{
  width: 400px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.baton button {
  height: 40px;
  border-radius: 4px;
  background: orange;
  color: white;
  font-size: 18px;
  border: white;
}

.zagolovok ul {
  font-size: 17px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
.container {
  display: flex;
  justify-content: space-between;
}

.a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a h1 {
  font-size: 40px;
}
.a p {
  font-size: 30px;
}
.b {
  width: 50%;
}
.b img {
  width: 100%;
  height: 100%;
}
button {
  height: 40px;
  border-radius: 4px;
  background: orange;
  color: white;
  font-size: 18px;
  border: white;
}
.container2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.a1 {
  width: 50%;
  display: flex;
}

.a1 img {
    width: 100%;
    height: 100%;
}
.a2 h1 {
  font-size: 36px;
}
.a2 p {
  font-size: 20px;
}
.a2 {
  display: flex;
  justify-content: center;
  
  width: 50%;
  font-size: 30px;
}
.a_a {
  width: 50%;
  align-items: center;
 
}
.a2_1 {
    width: 50%;
    align-items: center;   
}
.a2_1 button  {
  background: white;
  color: orange;
  font-size: 20px;
  border: orange;
}
.container-3 {
    width: 100%;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    
}
.text {
    display: flex;
    justify-content: center; 
      
}
.text2 {
    text-align: center;
}
.v {
  margin-bottom: 30%;
  padding-bottom: 30%;
}

.v:hover {
  margin-bottom: 30%;
  filter: drop-shadow(-12px 10px 15px rgba(0, 0, 0, 0.29));
}

.v1 {
  width: 25%;
  display: flex;
  justify-content: center;
}
.v2 {
  width: 25%;
  display: flex;
  justify-content: center;
  
}
.v3 {
  width: 25%;
  display: flex;
  justify-content: center;
}
.v img {
  height: 150px;
  width: 200px;
}
.v1 img {
  height: 150px;
  width: 200px;
}
.v2 img {
  height: 150px;
  width: 200px;
}
.v3 img {
  height: 150px;
  width: 200px;
}
.container-4 {
  width: 100%;
  display: flex;
  height: 100px;
  padding: 5px 90px;
}
.container-4 p {
  font-size: 20px;
}

.v1 {
  width: 25%;
  display: flex;
}

.v1:hover {
  width: 25%;
  display: flex;
  filter: drop-shadow(-12px 10px 15px rgba(0, 0, 0, 0.29));
}

.container-5 {
margin-top: 20%;
background-color: orange;
padding-top: 3%;
padding-bottom: 3%;
width: 100%;
display: flex;

}
.text4 {
  padding: 5px 140px;
  width: 30%;
  height: 60%;
  justify-content: center; 
}
.text5 {
  font-size: 20px;
}
.text6 {
  font-size: 500px;  
}
.baton2baton3 {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
 .baton2 button {
  display: flex;
  justify-content: center;
  background-color: none;
  color: #000;
  font-size: 18px;
  border: #000 1px solid; 
  text-align: center;
  padding: 10px 18px;
 }
 .baton2 button:hover{
   background-color: #000;
   color: #fff;
 }
.container-6 {
  height: 130px;
width: 1440px;
 justify-content: space-between;
  align-items: center;
  ;
}
.text7 {
  font-size: 30px;
  padding: 15px 509px;
}
.text8 {
  font-size: 17px;
  padding: 10px 450px;
}
.text9 img{
  width: 100%;
  height: 100%; 
}
.text10 {
  width: 55%;
  color: white;
}
.text10_1{
  font-size: 20px;
}
.text10_2{
  font-size: 40px;
}
.text10_3 {
  font-size: 15px;
}

.container-7 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.text10_4:hover {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.text10_4{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.text10_4_1{
  width: 40%;
  text-align: center;
  padding: 48px 48px;
}
.text10_4_2{
  font-size: 20px;
  
  text-align: center;
}
.text10_4_3 {
  font-size: 24px;
  
  text-align: center;
}
.text10_4_4 {
  width: 40%;
  text-align: center;
  padding: 48px 48px 
}
.text10_4_5 {
  font-size: 24px;
  text-align: center;
}
.text10_4_6{
  font-size: 24px;
  text-align: center;
}
.container-7_1{
  width: 80%;
  margin: auto;
}
.text11 {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  justify-content: space-around;
  
}
.container-9{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1%;
}
.text12 {
  text-align: center;
  margin: auto;
}
